*{
    --color: #FDE68A;
}

body{
    font-family: Kalam;
    margin:0px;
}

nav{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--color);
    height:auto;
}

main{
    margin:auto;
    max-width:600px;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    height:auto;    
}

#input-area{
    width: 100%; 
    min-height: 20vh;
    font-size:larger;
    font-family: inherit;
    padding:1rem;
    box-sizing: border-box;

}

.btn-holder{
    display: block;
    text-align: left;
}

#btn-translate{
    font-family: inherit;
    margin: 1rem 0rem;
    background-color: palegoldenrod;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    font-weight:600;
}

#btn-reset{
    font-family: inherit;
    margin: 1rem 1rem;
    background-color: palegoldenrod;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    font-weight:450;
}

#output-area{
    display: block;
    width:90%;
    min-height: 15vh;
    font-family: inherit;
    font-size: 1.2rem;
    box-sizing: border-box;

}

span{
    text-align: left;
    display: block;
    margin: 1rem 0rem;
}

footer{
    margin-top: 2rem;
    display:block;
    height: 25vh;
    width: 100%;
    position: relative;
    background-color: var(--color);
}

footer h1{
    text-align: center;
    font-family: inherit;
    font-weight: lighter;
    padding: 0.5rem 0rem 0rem;
    margin: 0rem;
}

footer p{
    padding-top:1rem;
    text-align: center;
    max-width: 500px;
    margin:auto;
    box-sizing: border-box;
}